.index-container-wrap {
  width: 60%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.index-container-wrap div {
  width: 33.3333333333%;
}

.show-container {
  width: 90%;
  margin: 0 auto;
}

body {
  color: rebeccapurple;
}

